doctype html 
html 
  head
    block head
      meta(charset = 'UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel = 'stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='preconnect' ref='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
      link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap')

    title Natours | Exciting tours for adventurous people  
  body
    include _header

    block content

    include _footer

    script(src='/js/mapbox.js')


